#settings-container-desktop {
    width: 264px;
    background-color: white;
    position: absolute;
    left: 25px;
    bottom: 25px;
    z-index: 1000;
    padding: 0 20px 20px 20px;

    #language-label {
        display: flex;
        justify-content: space-between;
    }
 
    #days-since-published {
        display: flex;
        justify-content: space-between;
    }

    .setting-input {
        font-weight: bold;
    }
}