#sign-up-log-in-button {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 5px;
}

#sign-up-log-in-container {
    position: absolute;
    top:  75px;
    right: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;    

    #close-icon-sign-up-login {
        position: absolute;
        margin: 5px;
        cursor: pointer;
        top: 0;
        right: 0;
    }

    #sign-up-log-in-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        button {
            margin: 30px;
        }
    }

    #log-in-window, #sign-up-window {
        button, input {
            margin: 10px;
        }
    }
}

#log-in-container {
    position: absolute;
    top: 0px;
    left: 0px;
}
