<div class="row">
    <div class="col s10" id="city-name">
        <h4>{{this}}</h4>
    </div>
    <div class="col s2 valign-wrapper">
        <a onclick="closeRightBottom()">
            <i id="close-icon-bottomSide" class="material-icons">close</i>
        </a>
    </div>
</div>
<div id="bottomSideArticlesContainer">
</div>