<div id="log-in-window">
    <i id="close-icon-sign-up-login" class="material-icons" onclick="closeSignInWindow()">close</i>
    <div>
        <input type="text" id="email" name="email" placeholder="Email" />
        <input type="password" id="password" name="password" placeholder="Password" />
    </div>
    <div class="flexbox-center">
        <button id="#log-in">Log In</button>
        <button id="#forgot-password">Forgot Password</button>
    </div>
</div>