<div id="my-locations">
    <div class="flexbox">

    <select name="my-locations">
        {{#each this}}
            <option value="relevancy">{{this}}</option>
        {{/each}}
    </select>
        <a id="add-location" data-toggle="tooltip" title="add current location to your favorie locations">+</a>
    </div>
</div>