<div class="row">
    <div class="flexbox right-side-title">
        <div id="city-name">
            <h4>{{this}}</h4>
        </div>
        <a class="close-icon" onclick="closeRightBottom()">x</a>
    </div>
</div>

<div id="rightSideArticlesContainer">
</div>