<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">language</i>Language</div>
            <div class="collapsible-body">
                <select id="language-selector">
                    <option value="auto">Auto Detect</option>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="de">German</option>
                    <option value="it">Italian</option>
                </select>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">date_range</i>Days Since Published</div>
            <div class="collapsible-body">
                <div id="date-slider"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">sort</i>Sort By</div>
            <div class="collapsible-body">
                <select id="sort-by-selector">
                    <option value="publishedAt">Published At</option>
                    <option value="relevancy">Relevancy</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>
        </div>        
    </li>
</ul>
