<div id="sign-up-window">
    <i id="close-icon-sign-up-login" class="material-icons" onclick="closeSignInWindow()">close</i>
    <div>
        <input type="text" id="email" name="email" placeholder="Email" />
        <input type="password" id="password" name="password" placeholder="Password" />
    </div>
    <div class="flexbox-center">
        <button id="sign-up">Sign Up</button>
    </div>
</div>