<div id="log-in-sign-up-window">
    <i id="close-icon-sign-up-login" class="material-icons" onclick="closeSignInWindow()">close</i>
    <div id="sign-up-log-in-buttons">
            <button id="log-in-selector">Log In</button>
            <button id="sign-up-selector">Sign Up</button>
    </div>
</div>